<aside class="sidebar" [class.collapsed]="collapsed">


  <!-- =========================================
       MENU
  ========================================== -->

  <nav class="sidebar-nav">


    <!-- DASHBOARD -->

    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item"
      title="Dashboard">

      <span class="nav-icon">
        🏠
      </span>

      <span class="nav-label">
        Dashboard
      </span>

    </a>


    <!-- STUDENTS -->

    <a routerLink="/students" routerLinkActive="active" class="nav-item" title="Students">

      <span class="nav-icon">
        👨‍🎓
      </span>

      <span class="nav-label">
        Students
      </span>

    </a>


    <!-- ROOMS -->

    <a routerLink="/rooms" routerLinkActive="active" class="nav-item" title="Rooms">

      <span class="nav-icon">
        🛏
      </span>

      <span class="nav-label">
        Rooms
      </span>

    </a>
    <!-- Room Allocation -->

    <a routerLink="/allocation" routerLinkActive="active" class="nav-item" title="Room Allocation">

      <span class="nav-icon">
        🛏️
      </span>

      <span class="nav-label">
        Room Allocation
      </span>

    </a>

    <!-- /Room Allocation -->

    <a routerLink="/fees" routerLinkActive="active" class="nav-item" title="Fees">

      <span class="nav-icon">
        💰
      </span>

      <span class="nav-label">
        Fees
      </span>

    </a>





    <!-- REPORTS -->

    <a routerLink="/reports" routerLinkActive="active" class="nav-item" title="Reports">

      <span class="nav-icon">
        📊
      </span>

      <span class="nav-label">
        Reports
      </span>

    </a>


    <div class="menu-divider"></div>


    <!-- ATTENDANCE -->

    <a routerLink="/attendance" routerLinkActive="active" class="nav-item" title="Attendance">

      <span class="nav-icon">
        📅
      </span>

      <span class="nav-label">
        Attendance
      </span>

    </a>


    <!-- COMPLAINTS -->

    <a routerLink="/complaints" routerLinkActive="active" class="nav-item" title="Complaints">

      <span class="nav-icon">
        📋
      </span>

      <span class="nav-label">
        Complaints
      </span>

    </a>


  </nav>


  <!-- =========================================
       BOTTOM
  ========================================== -->

  <div class="sidebar-bottom">

    <a routerLink="/settings" routerLinkActive="active" class="nav-item" title="Settings">

      <span class="nav-icon">
        ⚙
      </span>

      <span class="nav-label">
        Settings
      </span>

    </a>


    <div class="hostel-info">

      <div class="hostel-info-icon">
        G
      </div>

      <div class="hostel-info-text">

        <strong>
          Gurusatwik
        </strong>

        <span>
          Hostel Management
        </span>

      </div>

    </div>

  </div>

</aside>